.hero__container{
    min-height: 37.5rem; padding: 0px 50px; align-items: center; justify-content: space-around;
}
@media (max-width: 700px) {
    .hero__container{
        min-height: unset;
        padding: 0px 30px;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}
.hero__content {
    align-self: end; color: #f7f7f7; position: relative; z-index: 2; max-width: 60vw;
}

@media (max-width: 700px) {
    .hero__content {
        margin-bottom: 40px;
        max-width: unset;
    }
}

.hero__pretitle {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero__heading {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 20px;
}

.hero__link {
    margin-top: 1.25em;
}

.hero-glide__bullets {
    -webkit-touch-callout: none;
    user-select: none;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-glide__bullet {
    background: #ffffff62;
    border: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.glide__bullet--active {
    background: #ffffffc4;
}

#hero-section {
    margin-top: 70px;
}

@media (max-width: 768px) {
    #hero-section {
        margin-top: 50px;
    }
}