* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #025997, #6fc6fe);
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-weight: lighter;
    color: #0d0e13;
}

a {
    color: #0d0e13;
}

p {margin-bottom: 15px; line-height: 25px;}

body.is-preload .hero {
    opacity: 0;
    transform: translateY(20px);
}

body.landing:not(.is-preload) .hero {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
}

ul {
    list-style: none;
    margin: 0px;
}

.gutter {
    padding: 0 100px;
}

.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: flex;
    }

    .flex-row {
        flex-direction: column;
    }

    .gutter {
        padding: 0 20px;
    }
}

.btn {
    padding: .9375em 3.75em .8125em;
    text-transform: uppercase;
    border-radius: 1000px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.btn--bold {
    background-color: #E6FF55;
    color: #00473C;
}

.btn--bold:hover {
    background-color: #00473C;
    color: #F4F3E7;
}

h1,
h2,
h3,
h4 {
    font-weight: lighter;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
  }
  