<!DOCTYPE HTML>
<html>

	<head>
		<title>Prices | White House Massage, Nails & Spa - by Pawan</title>
		<link rel="icon" type="image/x-icon" href="/static/images/build/favicon.ico">
		<meta name="description"
			content="Explore our range of professional massage therapies, from traditional Thai to aromatherapy. Find your perfect wellness solution at White House Spa." />
		<link rel="canonical" href="https://www.whitehousemassage.online/prices" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Prices | White House Massage by Pawan | Cha Am's best rated massage, nails and spa" />
		<meta property="og:description"
			content="Explore our range of professional massage therapies, from traditional Thai to aromatherapy. Find your perfect wellness solution at White House Spa." />
		<meta property="og:url" content="https://www.whitehousemassage.online/" />
		<meta property="article:modified_time" content="2024-10-02T10:36:45+00:00" />
		<meta property="og:image" content="/static/images/build/pawan-og-image.jpg" />

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "DaySpa",
				"name": "White House by Pawan",
				"image": "https://whitehousemassage.online/static/images/build/pawan-og-image.jpg",
				"@id": "",
				"url": "https://whitehousemassage.online/",
				"telephone": "064 693 7602",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "White House Massage Nails & Spa by Pawan",
					"addressLocality": "Cha am",
					"postalCode": "77110",
					"addressCountry": "TH"
				},
				"geo": {
					"@type": "GeoCoordinates",
					"latitude": 12.7244385,
					"longitude": 99.96075
				},
				"openingHoursSpecification": {
					"@type": "OpeningHoursSpecification",
					"dayOfWeek": [
					"Monday",
					"Tuesday",
					"Wednesday",
					"Thursday",
					"Friday",
					"Saturday",
					"Sunday"
					],
					"opens": "10:00",
					"closes": "22:00"
				} 
			}
		</script>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/style.css" />
	</head>

	<body class="is-preload">

		<nav style="width: 100%; background: black; display: flex;
		flex-direction: row;
		padding: 10px;
		align-items: center; color: white;">
			<div style="flex: 1; filter: invert(1); align-items: center; display: flex;">
				<a href="/"><img src="/static/images/build/lotus-li.png" style="width: 45px;" alt="Logo"></a>
			</div>
			<div style="flex: 1; display: flex; justify-content: end; gap: 15px;">
				<a class="nav" style="color: white;" href="/">Home</a> | 
				<a class="nav" style="color: white;" href="/about-pawan">About</a> | 
				<a class="nav-active" style="color: white;" href="/prices">Prices</a>
			</div>
		</nav>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Intro -->
			<section class="intro">
				<header>
					<h1>Treatment prices</h1>
					<ul class="actions">
						<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
					</ul>
				</header>
				<div class="content">
					<span class="image fill" data-position="center"><img src="/static/images/build/thai-massage-1.jpg" alt="Massage therapist" /></span>
				</div>
			</section>

			<!-- Section -->
			<section id="first">
				<div class="content">
					<table border="1" cellspacing="0" cellpadding="5">
						<thead>
						  <tr>
							<th>Treatment</th>
							<th>Price</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>Thai massage</td>
							<td>250 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Foot massage</td>
							<td>250 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Head massage</td>
							<td>300 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Oil massage</td>
							<td>350 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Back & shoulder massage</td>
							<td>350 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Thai massage with oil</td>
							<td>400 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Aroma therapy massage</td>
							<td>500 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>100% coconut oil massage</td>
							<td>550 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Aloe vera massage</td>
							<td>500 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Hot oil spa</td>
							<td>1,000 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Body scrub with oil</td>
							<td>1,000 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Facial treatment (peel & mask)</td>
							<td>500 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Ear spa</td>
							<td>300 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Herbal compress massage</td>
							<td>650 baht/1 hour</td>
						  </tr>
						  <tr>
							<td>Foot scrub</td>
							<td>250 baht</td>
						  </tr>
						  <tr>
							<td>Pedicure</td>
							<td>-</td>
						  </tr>
						  <tr>
							<td>Manicure</td>
							<td>-</td>
						  </tr>
						  <tr>
							<td>Nail painting</td>
							<td>-</td>
						  </tr>
						  <tr>
							<td>Gel manicure</td>
							<td>-</td>
						  </tr>
						</tbody>
					  </table>
					  
				</div>
			</section>

			<footer style="padding: 3rem 2rem;">
				<header>
					<h2>Get in touch</h2>
				</header>
				<div class="content">
				<ul class="items">
					<li>
						<h3>Email</h3>
						<a href="mailto:poppotato5555@gmail.com">poppotato5555@gmail.com</a>
					</li>
					<li>
						<h3>Phone</h3>
						<a href="tel:0066646937602">064 693 7602</a>
					</li>
					<li>
						<h3>Address</h3>
						<a href="https://maps.app.goo.gl/Pq8mRHheqUgDLFma7">Click here to view in Maps</a>
					</li>
					<li>
						<h3>Elsewhere</h3>
						<ul class="icons">
							<li style="display: flex; align-items: center; gap: 10px;">
								<img src="https://ardaghimagelibrary.s3.eu-west-1.amazonaws.com/2024+Build+Images/social-facebook.png" alt="Facebook profile" style="filter: invert(1); width: 10px; height: 10px;">
								<a href="https://www.facebook.com/p/White-House-Massage-Nails-Spa-61555336333518" target="_blank">Facebook</a>
							</li>
						</ul>
					</li>
				</ul>
				</div>
			</footer>

			<!-- Copyright -->
			<div class="copyright">&copy; White House by Pawan. All rights reserved. Design: <a href="https://afternoondublin.ie">afternoon</a>.</div>

		</div>

		<!-- Scripts -->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/browser.min.js"></script>
		<script src="/static/js/breakpoints.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>

	</body>

</html>
