<footer>
    <div class="flex-row footer-contents">

        <!--div style="flex:1;">
            <h4>QUICK LINKS</h4>
            <ul>
                <li><a href="/menu" aria-label="Visit Instagram profile" target="_blank">OUR MENU</a></li>
                <li><a href="/mission" aria-label="Visit Instagram profile" target="_blank">OUR MISSION</a></li>
                <li><a href="/#catering" aria-label="Visit Instagram profile" target="_blank">CATERING</a></li>
                <li><a href="/press" aria-label="Visit Instagram profile" target="_blank">PRESS</a></li>
                <li><a href="https://deliveroo.ie/menu/dublin/city-hall/chiya-d2"
                                style="text-decoration: none;" aria-label="Order online" target="_blank">Order online</a>
                        </li>
            </ul>
        </div-->

        <div style="flex:1; ">
            <h4>LOCATION</h4>
            <ul style="line-height: 2.5;">
                <li>9/31 Moo 7 Khao Noi,</li>
                <li>Pranburi 77120</li>
                <li><a href="https://maps.app.goo.gl/ktfWsj1cqo5Ejmzr9" aria-label="Visit Instagram profile" target="_blank" style="text-decoration: underline;">Find us on Google Maps</a></li>
                
            </ul>

        </div>

        

        <div style="flex:1;">
            <h4>SUPPORT</h4>
            <ul style="line-height: 2.5;">
                <li>Call: <a href="tel:0922659809">+66 92 265 9809</a></li>
                <li>WhatsApp: <a href="tel:0922659809" style="text-decoration: underline;">+66 92 265 9809</a></li>
                <li>Line: <a href="https://line.me/R/ti/p/@427hhfdq?oat_content=url&ts=09032233" style="text-decoration: underline;">CLICK HERE TO ADD US</a></li>


                <li><a href="/privacy-policy" aria-label="Visit Instagram profile" target="_blank" style="text-decoration: underline;">PRIVACY POLICY</a></li>
            </ul>
        </div>


        <div class="swap-text-align left-border" style="flex:1;">
            <h4>OPENING HOURS</h4>
            <ul style="line-height: 2.5;">
                <li>We are open everyday</li>
                <li>Mon-Sun: 09:30 - 20:00</li>
            </ul>
        </div>


        <div class="swap-text-align" style="flex:1;">
            <h4>SOCIAL MEDIA</h4>
            <ul style="line-height: 2.5;">
                <li><a style="text-decoration: underline;" href="https://www.facebook.com/flossdentalclinic.th/" aria-label="Visit Facebook profile" target="_blank">facebook</a></li>
                <li><a style="text-decoration: underline;" href="https://www.instagram.com/floss.dentalclinic/" aria-label="Visit Instagram profile" target="_blank">instagram</a></li>
                <li><a style="text-decoration: underline;"href="https://www.youtube.com/channel/UC9Nab2B-KBTVc4IU16RXdzw" aria-label="Visit Youtube profile" target="_blank">youtube</a></li>
                <li><a href="/https://www.google.com/maps/place/Floss+dental+clinic+Pranburi+%E0%B8%84%E0%B8%A5%E0%B8%B4%E0%B8%99%E0%B8%B4%E0%B8%81%E0%B8%97%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%9F%E0%B8%A5%E0%B8%AD%E0%B8%AA%E0%B8%AA%E0%B9%8C+%E0%B8%9B%E0%B8%A3%E0%B8%B2%E0%B8%93%E0%B8%9A%E0%B8%B8%E0%B8%A3%E0%B8%B5/@12.391761,99.9172678,17z/data=!4m8!3m7!1s0x30fdb3664e42e79d:0x864a139303a2ec88!8m2!3d12.391761!4d99.9198427!9m1!1b1!16s%2Fg%2F11sskydxpb?entry=ttu&g_ep=EgoyMDI1MDcxMy4wIKXMDSoASAFQAw%3D%3D" aria-label="Visit Instagram profile" target="_blank" style="text-decoration: underline;">Reviews</a></li>    
            </ul>
        </div>

    </div>

</footer>

<div style="background: black; padding: 15px; display: flex; align-items: center; justify-content: center;">
    <p style="margin: 0px; font-size: 13px;">
        <a style="color: white; text-decoration: none;" href="https://afternoondublin.ie" target="_blank">2025 ©
            <strong>afternoon</strong> web design</a>
    </p>
</div>