<header class="site-header" style="top: 0px;
        position: fixed;
        z-index: 9;">
    <!-- Hamburger for mobile -->
    <div class="mobile-only" style="flex: 1;">
        <label for="toggle-btn" class="sr-only">Menu</label>
        <input id="toggle-btn" class="checkbox" type="checkbox" name="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
    </div>

    <div class="mobile-only" style="justify-content: center; flex: 1;">
        <a href="/" style="color: #f7f7f7;">Floss Dental</a>
    </div>

    <!-- Left nav links -->
    <nav>
        <ul id="menu-items" class="desktop-only menu-items">
            <li class="nav__main-list__item"><a class="item-numbered" href="/">About</a></li>
            <!-- <li class="nav__main-list__item"><a class="item-numbered" href="/ts">Treatments</a></li> -->

            <li class="nav__main-list__logo desktop-only" style="justify-content: center; width: 400px; flex:1;">
                <a style="color: #f7f7f7; font-weight: lighter;" href="/">Floss Dental</a>
            </li>

            <!-- <li class="nav__main-list__item"><a class="item-numbered" href="/">Contact</a></li> -->
            <li class="nav__main-list__item desktop-only" style="justify-content: center;">
                <a class="book-btn" href="https://line.me/R/ti/p/@427hhfdq?oat_content=url&ts=09032233" target="_blank" style="text-decoration:none; color:#fff;">
                    BOOK
                </a>
            </li>

    </nav>

    <div style="padding-right: 30px; flex:1; display: flex; justify-content: end;">
        <a href="https://deliveroo.ie/menu/dublin/city-hall/chiya-d2" target="_blank"
            class="mobile-only top-bar__order-btn">BOOK</a>
    </div>

</header>