<article id="hero-section">
    <div>
        <div class="hero__container flex-row">

            <!-- Column 1 -->
            <div style="display: flex; justify-content: center; align-items: center;"><img src="/static/images/floss-logo-old.webp" alt="Floss Dental Clinic" style=""></div>
            
            <!-- Column 2 -->
            <div style="display: flex; background: url('/static/images/bowl2.jpg'); background-size: cover; background-position: center;">
                <section class="hero__content">
                    <p class="hero__pretitle">CHANGING LIVES, ONE SMILE AT A TIME</p>
                    <div class="hero__heading">
                        <h1>Floss Dental Clinic, Pranburi-Huahin</h1>
                    </div>
                    <p style="letter-spacing: 1px; margin-bottom: 5px;">คลินิกทันตกรรมฟลอสส์ - ปราณบุรี หัวหิน</p>
                    <p style="margin-bottom: 20px;">At Floss, we pride ourselves in optimizing your smile and provide all aspects of general and
                        restorative dentistry, as well as a full range of orthodontic treatment for all ages.</p>

                        <div class="btn" style="width: fit-content; background-color: #64c6fe; color: white;">Learn more</div>

                </section>
                
            </div>
        </ul>


    </div>
</article>