<article style="margin: 0 auto; max-width: 1400px; padding: 20px;">
    <p class="mb-0 row-headings">PHOTO GALLERY</p>

    <div class="menu-glide">
        <!-- Bullets -->
        <div class="menu-glide__bullets" data-glide-el="controls[nav]">
            <button class="menu-glide__bullet" data-glide-dir="=0" id="first-menu-bullet">Our Team</button>
            <button class="menu-glide__bullet" data-glide-dir="=3">The Clinic</button>
            <button class="menu-glide__bullet" data-glide-dir="=9">Happy Patients</button>
        </div>
        <!-- Track -->
        <div class="menu-glide__track" data-glide-el="track">
            <ul class="menu-glide__slides">

                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/team_1.webp"
                    style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">
                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">Phakapohn Paopan, DDS (Doctor of Dental Surgery) - Founder and Lead Dentist at Floss Dental Clinic.</p>
                    </div>
                </li>
                
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/team_3.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">
                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">Our highly trained and skilled team works together to provide you with the best possible experience.</p>
                    </div>
                </li>

                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/team_2.jpg"
                    style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">
                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">Mrs. Paopan, our brilliant receptionist who will look after you at reception.</p>
                    </div>
                </li>

                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/clinic_1.webp"
                    style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">
                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">The clinic is conveniently located opposite the entrance of Lotus Pranburi, a 25-minute drive from Huahin town.</p>
                    </div>
                </li>
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/clinic_4.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">
                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">We’re equipped with state-of-the-art facilities, including X-ray and intra-oral scanners.</p>
                    </div>
                </li>
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/clinic_3.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">
                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">Our entire team is trained to operate all on-site facilities with the utmost professionalism, prioritizing your comfort.</p>
                    </div>
                </li>
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/clinic_2.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">

                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">Newly renovated, our clinic combines cutting-edge technology with a fresh perspective, offering safe, comfortable, and exceptional dental treatments in a welcoming, contemporary environment.</p>
                    </div>
                </li>
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/clinic_5.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">

                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">Quality patient care, hygiene, and transparency are at the heart of everything we do so we're proud to have <a target="_blank" 
                            href="https://www.google.com/maps/place/Floss+dental+clinic+Pranburi+%E0%B8%84%E0%B8%A5%E0%B8%B4%E0%B8%99%E0%B8%B4%E0%B8%81%E0%B8%97%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%9F%E0%B8%A5%E0%B8%AD%E0%B8%AA%E0%B8%AA%E0%B9%8C+%E0%B8%9B%E0%B8%A3%E0%B8%B2%E0%B8%93%E0%B8%9A%E0%B8%B8%E0%B8%A3%E0%B8%B5/@12.391761,99.9172624,17z/data=!4m8!3m7!1s0x30fdb3664e42e79d:0x864a139303a2ec88!8m2!3d12.391761!4d99.9198427!9m1!1b1!16s%2Fg%2F11sskydxpb?entry=ttu&g_ep=EgoyMDI1MDgxOS4wIKXMDSoASAFQAw%3D%3D" 
                            style="text-decoration: underline; color: white;">over 250 5-star reviews on Google</a>.</p>
                        
                    </div>
                </li>
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/clinic_6.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">

                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">We combine cutting-edge technology with a fresh perspective, delivering safe, comfortable, and exceptional dental care.</p>
                        
                    </div>
                </li>
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/p1.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">

                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">Our patients’ needs are diverse—from orthodontic treatments for children to dentures for older adults.</p>
                    </div>
                </li>

                
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/p2.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">

                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">We know dentist visits can be stressful, so we go the extra mile to keep you calm and comfortable throughout your treatment.</p>
                    </div>
                </li>
                <li class="menu-glide__slide" style="display: flex; flex-direction: column;">
                    <img src="/static/images/gallery/p4.webp"
                        style="width: 100%; border-radius:25px; padding: 10px 10px 10px 0;">

                    <div style="padding: 10px;">
                        <p style="margin-bottom: 20px;">We look forward to welcoming the whole family!</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</article>

<script>
    new Glide('.menu-glide', {
        type: 'carousel',
        startAt: 0,
        perView: 3,
        breakpoints: {
            768: {
                perView: 1.2
            }
        }
    }).mount();

    const bullets = document.querySelectorAll('.menu-glide__bullet');

    function selectBullet(bullet) {
        bullets.forEach(b => b.classList.remove('clicked'));
        bullet.classList.add('clicked');
    }

    bullets.forEach(bullet => {
        ['click', 'touchstart'].forEach(evt =>
            bullet.addEventListener(evt, () => selectBullet(bullet))
        );
    });

    window.addEventListener('DOMContentLoaded', () => {
        const button = document.getElementById('first-menu-bullet');
        if (button) {
            button.click(); // programmatically triggers a click
        }
    });
</script>