<article id="catering" class="gutter" style="margin-top: 70px; background-color: #d8e5d6; padding-top: 50px; padding-bottom: 30px;">
        <p style="margin-bottom: 30px;">CHIYA COMES TO YOU</p>
        <div class="flex-row" style="gap: 50px;">
            <div style="flex:1;">
                <h2 style="font-size: 60px;
                font-weight: lighter;
                margin-bottom: 30px;
                line-height: 60px;">Flavor that travels
                </h2>
                <h3 style="margin-bottom: 10px;
                font-size: 24px;
                text-decoration: underline;">Catering</h3>
                <p style="margin-bottom: 15px; font-size: 20px;
                line-height: 25px;">For the little things and the big milestones alike, we’re here to bring <span style="font-style: italic;">Lezzat</span> to the party.</p><p style="margin-bottom: 25px; font-size: 20px;
                line-height: 25px;">Chiya offers catering to suit any event or function, big or small. With in-restaurant collection or delivery to your venue, <a href="/contact">drop us a message</a> or get in touch via <a href="https://instagram.com/chiyadublin">Instagram</a> to book your event catering!</p>
            </div>
            <div style="flex:1;">
                <img src="https://images.ctfassets.net/eum7w7yri3zr/7C0UGrEDsHX16wSBPLRYDH/4f6d47f5e7157a69dee5fa64e88239ca/20230808_SWEETGREEN1564.jpg?w=1200&q=&fm=avif" style="width: 100%; border-radius: 15px;">
            </div>
       </article>
          