<article style="margin: 0 auto; max-width: 1400px; padding: 20px;">
    <p class="mb-0 row-headings">REVIEWS FROM OUR HAPPY CUSTOMERS...</p>

    <div class="reviews-glide">
        <div class="menu-glide__arrows" data-glide-el="controls">
            <button class="menu-glide__arrow menu-glide__arrow--left" data-glide-dir="<">←</button>
            <button class="menu-glide__arrow menu-glide__arrow--right" data-glide-dir=">">→</button>
        </div>
       <!-- Track -->
        <div class="reviews-glide__track" data-glide-el="track">
            <ul class="reviews-glide__slides">

                <li class="reviews-glide__slide flex-row">
                    
                    <div style="text-align: center; padding: 10px;">
                        <img src="/static/images/stars.webp" alt="5-star review" style="margin-bottom: 15px; width: 150px;">
                        <p style="margin-bottom: 20px;">Best dentist in Thailand for me so far, very great services from their team and very nice attitude. Thank you very much!</p>
                            <img src="/static/images/build/reviewer-v.webp" style="width: 90px; height: 90px;">
                        <p style="font-weight: lighter;">Mr. Vivo Bnn</p>
                        </div>
                </li>
                <li class="reviews-glide__slide flex-row">
                    
                    <div style="text-align: center; padding: 10px;">
                        <img src="/static/images/stars.webp" alt="5-star review" style="margin-bottom: 15px; width: 150px;">
                        <p style="margin-bottom: 20px;">คลินิกสะอาด พนักงานบริการดีมาก คุณหมอก็น่ารักมากค่ะพูดจาดีแนะนำดีมาก มือเบาด้วยเปลี่ยนความกลัวหมอฟันจากประสบการณ์วัยเด็กให้กลายเป็นดีขึ้นมาเลยค่ะ จะกลับไปใช้บริการอีกแน่นอนค่ะ 🥰</p>
                            <img src="/static/images/build/reviewer-1.webp" style="width: 90px; height: 90px;">
                        <p style="font-weight: lighter;">Khun Cholticha S.</p>
                        </div>
                </li>

                
                <li class="reviews-glide__slide flex-row">   
                    <div style="text-align: center; padding: 10px;">
                        <img src="/static/images/stars.webp" alt="5-star review" style="margin-bottom: 15px; width: 150px;">
                        <p style="margin-bottom: 20px;">
                            Myself, like most people, do not like having to visit a dentist, but I have to say, this was by far the best dental treatment I have ever had. Great staff, the dentist herself was fantastic with perfect English, as well as great treatment extracting my broken tooth. Will definitely be back, and highly recommended.
                        </p>
                        <img src="/static/images/build/reviewer-t.webp" style="width: 90px; height: 90px;">
                        <p style="font-weight: lighter;">Mr. Tab K.</p>
                        </div>
                </li>
                <li class="reviews-glide__slide flex-row">
                    <div style="text-align: center; padding: 10px;">
                        <img src="/static/images/stars.webp" alt="5-star review" style="margin-bottom: 15px; width: 150px;">
                        <p style="margin-bottom: 20px;">
                            ดีมากครับ ทำที่อื่นมาเจ็บมากครับ มาทำที่นี่เกือบหลับเลยครับไม่เจ็บเลย หมอมจดีบริการดีมากครับ
                        </p>
                            <img src="/static/images/build/reviewer-2.webp" style="width: 90px; height: 90px;">
                        <p style="font-weight: lighter;">Khun Nantasak P.</p>
                        </div>
                </li>

                <li class="reviews-glide__slide flex-row">
                    
                    <div style="text-align: center; padding: 10px;">
                        <img src="/static/images/stars.webp" alt="5-star review" style="margin-bottom: 15px; width: 150px;">
                        <p style="margin-bottom: 20px;">To say I enjoy going to see a dentist may seem like the very definition of an oxymoron, but in this case it's a truism.
                            Wonderful staff who are always prepared to go the extra mile, excellent dental care, with the bonus of superb and relaxing surroundings.
                            I've just had some extractions and I'm pain free and smiling! 🤣
                            Wherever you are in 🇹🇭, you too should go the extra mile to assure yourself of the very best in dentistry.</p>
                            <img src="/static/images/build/reviewer-2.webp" style="width: 90px; height: 90px;">
                        <p style="font-weight: lighter;">Mr. Eugene S.</p>
                        </div>
                </li>

                <li class="reviews-glide__slide flex-row">
                    <div style="text-align: center; padding: 10px;">
                        <img src="/static/images/stars.webp" alt="5-star review" style="margin-bottom: 15px; width: 150px;">
                        <p style="margin-bottom: 20px;">ตัดสินใจถูกมากที่มาทำรากฟันเทียมที่นี่คุณหมอมือเบามากๆๆตอนแรกกังวัลว่าจะเจ็บมากมั้ยสรุปชิวมากค่ะไม่ปวดไม่บวมใดๆคุณหมอใจเย็นใจดีแนะนำละเอียดมากอธิบายทุกขั้นตอนประทับใจมากค่ะ คลีนิกสะอาดบริการดีตั้งแต่ข้างหน้าถึงห้องตรวจ แนะนำที่นี่ค่ะ</p>
                            <img src="/static/images/build/reviewer-w.webp" style="width: 90px; height: 90px;">
                        <p style="font-weight: lighter;">Khun Wannida M.</p>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</article>

<script>
    new Glide('.reviews-glide', {
        type: 'carousel',
        startAt: 0,
        perView: 2,
        breakpoints: {
            768: {
                perView: 1.2
            }
        }
    }).mount();

    // const bullets = document.querySelectorAll('.reviews-glide__bullet');

    function selectBullet(bullet) {
        bullets.forEach(b => b.classList.remove('clicked'));
        bullet.classList.add('clicked');
    }

    bullets.forEach(bullet => {
        ['click', 'touchstart'].forEach(evt =>
            bullet.addEventListener(evt, () => selectBullet(bullet))
        );
    });

    window.addEventListener('DOMContentLoaded', () => {
        const button = document.getElementById('first-reviews-bullet');
        if (button) {
            button.click(); // programmatically triggers a click
        }
    });
</script>