<section id="about" class="about-floss-container">
    <p class="about-floss-subtitle">Learn a little about us...</p>
    <div class="about-floss__contents flex-row">
        <div style="flex:1;">
            <h2>About Floss</h2>
            <p>Founded by Phakapohn Paopan DDS (Doctor of Dental Surgery) in 2023, Floss Dental Clinic brings a truly modern, innovative, and a vibrant approach to the dentistry landscape of Pranburi.</p>
            <p>We combine cutting-edge technology with a fresh perspective, offering safe, comfortable, and exceptional dental treatments in a welcoming and contemporary environment. </p>
            <p>Located past the entrance of Lotus' Pranburi on the left-hand side, a 25-minute drive from Huahin town center, we are experienced in welcoming tourists, ex-pats, and local Thai patients alike for top-class dental treatments.</p>
            <p>Please don't hesitate to call into the surgery, or get in touch via phone or email today! We'll be happy to assist in any way we can.</p>
            </p>
        </div>
        <div style="flex:1;">
            <img class="about-floss-contents__img" src="/static/images/_Photo-154.jpg" alt="Families welcome at our dental clinic!">
        </div>

    </section>