<section id="treatments" style="margin: 50px auto; max-width: 1400px; padding: 20px;">
    <p class="row-headings mb-30">Our treatments</p>

    <div class="flex-row" style="gap: 20px;">
        <div class="treatments-card">
            <h2>Routine care</h2>
            <ul>
                <li>Examinations</li>
                <li>Fillings</li>
                <li>Cleaning (scale and polish)</li>
                <li>Root canal treatment</li>
                <li>Crowns and bridges</li>
                <li>Occusal splints</li>
                <li>Partial removable dentures</li>
                <li>Complete dentures</li>
            </ul>
        </div>
        <div class="treatments-card">
            <h2>Implants and Extractions</h2>
            <ul>
                <li>Dental implants</li>
                <li>Extractions</li>
                <li>Wisdom tooth removal</li>
                <li>Dental fibre posts</li>
            </ul>
        </div>
        <div class="treatments-card">
            <h2>Restorative/Cosmetic</h2>
            <ul>
                <li>White composite fillings</li>
                <li>Composite bonding</li>
                <li>Teeth whitening</li>
                <li>Fissure sealants</li>
                <li>Orthodontics: metal braces, clear aligners</li>
            </ul>
        </div>
        <div class="treatments-card">
            <h2>Miscellaneous</h2>
            <ul>
                <li>Night Guard</li>
                <li>Essix retainers</li>
                <li>Customised Sportsguard</li>
                <li>Digital X-rays – Small (Intraoral)</li>
                <li>Digital OPG (full mouth panoramic)</li>
                <li>CBCT 3D Digital Scan</li>
            </ul>
        </div>
    </div>
</section>