<article style="margin: 0 auto; max-width: 1400px; padding: 20px;">
    <p class="mb-30 row-headings">Notes</p>
    <div class="flex-row about-floss-container" style="gap: 30px;">
        <div><img src="/static/images/gallery/p3.webp" style="border-radius: 15px; width: 100%;"></div>
        <div>
            <h3 style="margin-bottom: 15px;">Cancellations</h3>
            <p>We would ask for at least 24 hours notice if you have to cancel your appointment. This gives us the opportunity to offer the appointment to someone else. Regrettably, patients who continually fail to attend their appointments will be liable to pay a ‘failure to attend’ fee. This must be settled prior to a new appointment being arranged otherwise no further appointments can be made.</p>
        </div>
    </div>
</article>
