<style>
    .is-visually-hidden {
        opacity: 0;
    }

    .newsl {
        border: 1px solid #00473c;
        border-radius: 15px;
        padding: 10px 15px;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        background: transparent;
    }

    .newsl-button {
        border: none;
        border-radius: 0 .6875rem .6875rem 0;
        cursor: pointer;
        font-size: 14px;
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
        line-height: 3.3125rem;
        padding: 0 1.5em;
        transition: color .3s ease-in-out;
        background: transparent;
        font-family: 'Poppins', sans-serif;
    }

    .contact-row-col {
        flex: 1;
        padding: 50px 50px 50px 0;
    }

    .contact-row-col-2 {
        flex: 1;
        border-left: 1px solid;
        padding: 50px;
    }
    @media (max-width: 768px) {
        .contact-row-col{
            padding: 50px 0px 50px 0;
        }
        
        .contact-row-col-2 {
            border-left: 0;
            border-top: 1px solid;
            padding: 50px 0px;
        }
    }

    .contact-row-col .header,
    .contact-row-col-2 .header {
        text-transform: uppercase;
    }
</style>

<div class="flex-row">
    <div class="contact-row-col">
        <p class="header">Get in Touch</p>
        <p style="margin-bottom: 15px;">We endeavour to get back to you ASAP</p>
        {% include "/components/contact-form.html" %}
    </div>

    <div class="contact-row-col-2">
        <p class="header">Sign up to our newsletter</p>
        <p style="margin-bottom: 15px;">For exclusive promos, menu drops, store openings, and more.</p>
        <div style="display: grid; position: relative;">
            <label class="is-visually-hidden">Email Address</label>
            <input class="newsl" type="email" placeholder="Email Address" name="EMAIL" id="mce-EMAIL"
                pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
                required="">

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" tabindex="-1">
            </div>

            <button type="submit" class="newsl-button" aria-label="submit your email address to join our mailing list">→</button>
        </div>
    </div>

</div>